<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    GET VS POST 
    <fieldset>
        <legend>GET</legend>
        <form action="/user" method="GET"> 
            <input type="text" name="userName" placeholder="enter your name"/>
            <input type="number" name="number" placeholder="enter your number"/>
            <button type="submit">submit</button>

        </form>

    </fieldset>
    <fieldset>
        <legend>POST</legend>
        <form action="/user" method="POST"> 
            <input type="text" name="userName" placeholder="enter your name"/>
            <input type="number" name="number" placeholder="enter your number"/>
            <button type="submit">submit</button>

        </form>

    </fieldset>
   
</body>
</html>